@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    We Can Code It<br />
    Cleveland, OH 44120<br />
    <abbr title="Phone">P:</abbr>
    216.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:deardorrian@gmail.com">deardorrian@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:deardorrian@gmail.com">deardorrian@gmail.com</a>
</address>